:root {
  --general-text: #312C27;
  --accent-text: #1F1711;
  --general-bg: #FFF9F4;
  --accent-bg: #FFE0CB;
  --accent-color: #FFA55C;
}

body {
  font-family: "Montserrat", "Arial", sans-serif;
  line-height: 1.5;
  color: var(--general-text);
  background: var(--general-bg);
}

.container {
  max-width: 1310px;
  margin: 0 auto;
  padding: 0 15px;
  height: 100%;
  display: flex;
  flex-direction: column
}

.main {
  flex-grow: 1;
}

.wrapper {
  min-height: 100%;
  width: 100%;
  overflow: hidden;
}

.button {
  display: block;
  background-color: var(--accent-color);
  color: var(--general-text);
  text-align: center;
  font-family: 'Montserrat';
  font-size: 16px;
  font-weight: 500;
  line-height: 1.6;
  border-radius: 60px;
  ;
  justify-content: center;
  align-items: center;
  padding: 18px 36px;
}

/* ===================================================== */

.header {
  background: url("../img/decor/bg-header.png") 50% 100% / cover no-repeat;
}

.header__top {
  padding-top: 19px;
}

.header__top-inner {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.header__logo {
  max-width: 174px;
}

.nav {}

.nav__list {
  display: flex;
  gap: 40px;
  padding-top: 5px;
}

.nav__item {}

.nav__link {}

.hero {
  padding-top: 48px;
}

.hero__content {
  max-width: 520px;
}

.hero__inner {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.hero__info {
  color: #B197B2;
  text-transform: uppercase;
  font-weight: 400;
  line-height: 1.6;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.hero__info span {
  display: flex;
  align-items: center;
}

.hero__info span::after {
  content: '';
  width: 4px;
  height: 4px;
  background-color: #B197B2;
  border-radius: 50%;
  display: block;
  margin: 0 10px;
}

.hero__info span:last-child::after {
  content: none;
}

.hero__title {
  color: var(--accent-text);
  font-family: 'Gabriola';
  font-size: 74px;
  line-height: .82;
  margin-bottom: 30px;
}

.hero__desc {
  margin-bottom: 40px;
  max-width: 360px;
}

.hero__img {}

.hero__img-control {}

.hero__img-button {}

.hero__info-button {
  max-width: 360px;
  width: 100%;
}